body {
    font-family: "Raleway", Sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    overflow: hidden;
    text-align: center;
}

.recipe img {
    width: 100%;
    height: 200px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem ocupe o espaço sem distorções */
    border-bottom: 4px solid #ddd; /* Adiciona uma borda para separação visual */
}

.recipe h2 {
    padding: 10px;
    font-size: 20px;
}

.recipe p {
    padding: 0 10px 10px;
    text-align: left;
}

/* styles.css */


h1 {
    text-align: center;
    margin: 20px 0;
}

.recipe-container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recipe-image {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.recipe-info {
    margin-left: 20px;
    flex: 1;
}

.recipe-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
    line-height: 1.4;
}

.show-more-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.show-more-btn:hover {
    background-color: #0056b3;
}

.show-more-btn.hidden {
    display: none;
}

.recipe-ingredients {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recipe-ingredients h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.recipe-ingredients ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.recipe-ingredients li {
    /* Ajusta o estilo dos itens da lista, se necessário */
    margin-bottom: 10px;
}
